MONGODB_CONNECTION_URL="mongodb+srv://<user-name>:<db_password>@cluster0.6jr1l7p.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
GOOGLE_API_KEY="<google-api-key>"
OPENAI_API_KEY="<open-ai-api-key>
COLLECTION_NAME="<collection-name-of-mongo-db>"

# PostGre
PG_HOST="localhost"
PG_PORT="5432"
PG_USER="postgres" # Default user
PG_PASSWORD="<pwd>" # The password you chose
PG_DBNAME_BENCHMARK="car_benchmark" 
PG_DBNAME_REALWORLD="car_realworld" 