MONGODB_CONNECTION_URL="mongodb+srv://<user-name>:<db_password>@cluster0.6jr1l7p.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
GOOGLE_API_KEY="<google-api-key>"
OPENAI_API_KEY="<open-ai-api-key>

